@using System.Collections.Generic
@model List<LojaMvc.Models.ProdutoModel>
<h2>Lista de produtos</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preco</th>
    </tr>
    @foreach (var produto in Model)
    {
        <tr>
            <td>
            @produto.Id
            </td>
            <td>
            @produto.Nome
            </td>
            <td>
            @produto.Preco
            </td>
            <td>
                <a href="">Ver</a>
            </td>
        </tr>
    }
    <tr>
        <td>1</td>
        <td>Produto 1</td>
        <td>99,99</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Produto 2</td>
        <td>99,99</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Produto 3</td>
        <td>99,99</td>
    </tr>
</table>
